@model IEnumerable<WebApplicationPLS.Models.Model.Liste>
@using WebApplicationPLS.Helper;
<!-- Categories Widget -->

<div class="card-body">
    <h3 class="widget-title">Listeler</h3>
    <a class="btn btn-success mb-2" href="/Tarif/">
        Tümü <span class="badge bg-success-subtle text-success">@ViewBag.TarifSayisi</span>
    </a>
    @foreach (var item in Model)
    {
        if (item.Tarifs.Count > 0)
        {
            <a class="btn btn-success mb-2" href="/Tarif/@SeoHelper.ToSeoUrl(item.ListeAd).ToLower()/@item.ListeID">
                @item.ListeAd <span class="badge bg-success-subtle text-success">@item.Tarifs.Count()</span>
            </a>
        }
    }
</div>