@model IEnumerable<WebApplicationPLS.Models.Model.Hakkimizda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda</h2>
<table class="table table-bordered">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr class="table">
        <td>
            @Html.Raw(item.Aciklama)
        </td>
        <td>
            <a href="/Hakkimizda/Edit/@item.HakkimizdaID" class="btn btn-primary">Güncelle</a>
        </td>
    </tr>
}

</table>
